body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  line-height: 1;
}
  
header {
  margin-bottom: 1%;
  text-align: center;
  background-color: #3b7429;
  color: white;
  border-radius: 0;
  border-bottom: 5px solid #777777;
}

h1 {
  margin-bottom: 2%;
}

.container {
  margin-bottom: 5%;
}

.col-sm-1 {

  font-size: 120%;
  text-align: center;
  border-radius: 15px;
  border: 1px solid gray;
  background-color: rgb(64, 182, 113);
  padding-top: 1.5%; 
  font-weight: bold;
}

.col-sm-10 {
  font-size: 200%;
  background-color: lightgray; 
  border-radius: 15px;
  border: 1px solid gray;
  height: 100%;
  width: 100%;
}

.savebtn {
  text-align: center;
  border-radius: 15px;
  border: 1px solid gray;
  background-color: #3b7429;
  padding-top: 1%;
}

.savebtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.row {
  /* white-space: pre-wrap; */
  height: 55px;
  /* border-top: 1px solid gray;
  border-bottom: 1px solid gray; */
  /* background-color: lightgray; */
  border-radius: 15px;
}
    



